<nav class="navbar navbar-expand-lg fixed-bottom navbar-light" style="background-color: #669fc8;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="#">Blogs</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="flex: 1; display: flex; justify-content: center;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Admin</a>
            </li>
        </ul>
        <p class="mb-0" style="text-align: center;"><span>Copyright | 2024 @ Himanshu</span></p>
    </div>
</nav>
